*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins", sans-serif;
}

body{
    background:#ECEAE7;
    display:flex;
    justify-content:center;
    padding:40px;
}

.cv{
    width:850px;
    display:flex;
    background:#fff;
    border-radius:10px;
    overflow:hidden;
}

/* LEFT SIDE */
.left{
    width:32%;
    background:#2D2D2D;
    color:white;
    padding:0 25px 40px 25px;
    position:relative;
}

.curve{
    width:100%;
    height:160px;
    background:white;
    border-bottom-left-radius:120px;
    border-bottom-right-radius:120px;
    display:flex;
    justify-content:center;
    padding-top:20px;
}

.photo{
    width:135px;
    height:135px;
    border-radius:50%;
    overflow:hidden;
    border:4px solid white;
}

.photo img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.section{
    margin-top:35px;
}

.section h3{
    font-size:17px;
    display:flex;
    align-items:center;
    gap:8px;
    color:white;
    font-weight:600;
}

.section p{
    font-size:13px;
    margin-top:10px;
    line-height:1.4;
}

.section ul{
    list-style:none;
    margin-top:10px;
}

.section ul li{
    font-size:13px;
    margin-bottom:6px;
}

/* RIGHT SIDE */
.right{
    width:68%;
    padding:45px 60px;
}

.name{
    font-size:36px;
    line-height:42px;
    margin-bottom:40px;
    font-weight:700;
}

.education h2{
    font-size:20px;
    display:flex;
    align-items:center;
    gap:8px;
    margin-bottom:25px;
}

.edu-item{
    display:flex;
    gap:25px;
    margin-bottom:35px;
}

.line{
    width:2px;
    background:black;
    border-radius:20px;
    margin-left:10px;
}

.edu-item h3{
    font-size:17px;
    font-weight:600;
    margin-bottom:5px;
}

.school{
    font-size:13px;
    color:#444;
    letter-spacing:0.3px;
}

.sub{
    font-size:12px;
    color:#777;
}

.grade{
    font-size:13px;
    margin-top:4px;
}
